* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100vw;
}

/* .container {

} */

header {
    background-color: #800080;
    position: sticky;
    padding: 0.5rem;
    top: 0;
}

.social-media {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 70px;
    background-color: #F08080;
    position: fixed;
    z-index: 10;
    top: 30%;
    left: -50px;
    padding: 12px;
}

/* .social-media img:hover {
    left: -50px;
} */

.social-media:hover {
    left: 0px;
}


.social-media img {
    height: 3rem;
}

.article__tittle-box {
    background-image: url(assets/girafa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding-top: 340px;
}

.article__tittle {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    text-align: center;
    line-height: 60px;
    top: 10px;
    font-size: 20px;

    z-index: 9;
}

p {
    margin: 30px 80px;
    text-align: justify;
}

.article__giraffe {
    position: absolute;
    z-index: 8;
}



.header__cubos-logo {
    display: block;
    margin: 0 auto;
    height: 2rem;
    z-index: 10;
}

.article__to-top-icon {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 2.125rem;

}